@media (max-width: 1247px) {
  .present-dot{
    visibility: hidden;
  }
}


@media (max-width: 991px) {
  header {
    //height: 20vh;
    //height: 290px;
    .container {

    }
  }
  main {
    .container {
      .home__image {
        display: none;
      }
    }
  }
  .navbar-toggler {
    margin: 0;
  }
  .present__footer{
  visibility: hidden;
  }
  .item {
    display: flex;
    text-align: center;
  }


}


  @media (max-width: 848px) {
  .bd-example{
    width: 350px;
    display: flex;
    justify-content: space-around;
  }
}
.navbar-toggler{
  -webkit-transform: translate(230px, -60px);
  -moz-transform: translate(230px, -60px);
  -ms-transform: translate(230px, -60px);
  -o-transform: translate(230px, -60px);
  transform: translate(230px, -60px);
  position: fixed;
}


@media (max-width: 500px) {
  .img-about{
    transform: translateX(10px);
  }
  .item-block {
    margin-bottom: 50px;
  }

}
@media (max-width: 500px ) and (max-height: 100px){
  
}
